{% extends "page.twig" %}

{% block container %}
    <div class="starter-template">
{% if members|length > 1 %}
<form action="" method="post">
    <div class="well" style="padding:10px 10px 5px">
        <button type="submit" name="choose" class="btn btn-danger btn-xs pull-right">skift</button>
        <p>Din nuværende funktion: <strong>{$member->team->title|escape}</strong></p>
    </div>
</form>
{% endif %}
	{if !isset($smarty.get.phone)}
        <h1>Status</h1>
{if isset($loks)}
            {foreach from=$loks item=l}
            {if $l->title}
                <p class="lead">
                    <a href="?phone={$l->id}"><i class="icon-phone icon-lg"></i> {$l->title|escape}</a>
                    ({$l->catchCount|escape} scans)
                </p>
            {/if}
            {/foreach}
{/if}
            <div class="alert alert-warning" role="alert">Hvis du gerne vil hjælpe med at bygge disse sider, så besøg os på <a href="https://github.com/nathejk/nathejk">github.com/nathejk</a></div>

        {else}
{if isset($lok)}
        <h1>Telefonliste</h1>
        <table class="table">
            <tr><th colspan="3">{$lok->title|escape}</th></tr>
            {foreach from=$lok->members item=member}
            <tr><td>{$member->number}</td><td class="text-left">{$member->title|escape}</td><td class="text-right"><a href="tel:+45{$member->phone|escape}">{$member->phone|escape}</a></td></tr>
            {/foreach}
        </table>

        {foreach from=$lok->teams item=team}
        <table class="table">
            <tr><th colspan="3">{$team->title|escape}</th></tr>
            {foreach from=$team->members item=member}
            <tr><td>{if !$member->number}&times;&times;&times;{else}{$member->number}{/if}</td><td class="text-left">{$member->title|escape}</td><td class="text-right"><a href="tel:+45{$member->phone|escape}">{$member->phone|escape}</a></td></tr>
            {/foreach}
        </table>
        {/foreach}
{/if}
        {/if}
    </div>
{% endblock %}
